html,
body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #3a241d;
  text-align: center;
}
#contenedor-izquierdo {
	left: 0px;
	top: 0px;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  width: 15%;
  height: 100%;
  padding: 10px;
}

#contenedor-derecho {
  right: 0px;
	top: 0px;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  width: 15%;
  height: 100%;
  padding: 10px;
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
}

.componente {
  position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
  height: auto;
  
}

.cielo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
  width: 90%;
  background: #bde6f1;
  border-radius: 1rem;
  opacity: 0.5;
  z-index: 1;
}

.suelo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 45%;
  background: #c9e4c5;
  border-radius: 0 0 1rem 1rem;
  opacity: 0.7;
  z-index: -1;
}

#pagina {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

#placita {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 70%;
}

